pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
rapidfuzz
unidecode
datasets
transformers>=4.40.0
torch>=2.0.0
accelerate>=0.26.0
seqeval
fastapi 
uvicorn
deep-translator
httpx>=0.28.1
python-multipart
python-dotenv
google-generativeai
certifi